<% include partials/header %>

<h1>This is your feed</h1>

<a href="/feed/new">Set Status</a>

<% posts.forEach(post => { %>
    <div>
        <h3><%= post.author %></h3>
        <p><%= post.status %></p>
    </div>
    <br>
<% }); %>

<% include partials/footer %>