<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>FriendStream</h1>
            <p>See what your friends are up to</p>

            <p>
                <a class="btn btn-primary btn-lg" href="/feed/new">Set Status</a>
            </p>
        </div>
    </header>

    <% posts.forEach(post => { %>
        <div class="panel panel-default">
            <div class="panel-body">
                <h3><%= post.author %></h3>
                <p><%= post.status %></p>
            </div>
        </div>
    <% }); %>
</div>

<% include partials/footer %>