body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
	background-size: cover;
	background-position: center;
}

form {
	margin: 0 auto 3em;
}

h1 {
	margin: 0 auto 0.5em;
	font-size: 3em;
}

input {
	display: block;
	margin: 0 auto 0.5em;
}

.btn {
	border: 0.25px solid black;
}

.text {
	color: white;
	letter-spacing: 0.5px;
}

#flash-msg {
	width: 30%;
	margin-top: 2em;
}

#landing-header {
	z-index: 1;
	position: relative;
	text-align: center;
	padding-top: 40vh;
}
