.status-outline {
	display: flex;
	justify-content: center;
}

.comment-button {
	display: inline-block;
}

.textbox {
	overflow: hidden;
	padding-right: 0.5em;
}

.textbox-submit {
	float: right;
}

.page-main-action {
	width: 30%;
	margin: 2rem auto;
}

.top-of-page-text {
	text-align: center;
}

.user-list {
	display: flex;
	justify-content: center;
	text-align: center;
}

#comment {
	margin: auto 5% 1em;
}

#find-user-btn {
	color: white;
}

#flash-msg {
	width: 30%;
	margin-top: 2em;
}

#register-submit {
	text-align: center;
}

#username-box {
	margin-bottom: 0.5em;
}
